{% extends "bootstrapLayout.html" %}

{% block content %}
<div class="jumbotron">
  <h1>About this website</h1>

<p>
  This site was developed by
  <a href="http://www.cs.brandeis.edu/~tim">Tim Hickey</a>
  as a demo for the course he is teaching this semester,
  CS10a: Introduction to Problem Solving Using Python.
  It is implemented using Flask with Jinja templates and
  Twitter Bootstrap styling, using Chart.js for the plots.
  The source code is available
  at
  <a href="https://github.com/tjhickey724/covid19demo">
    https://github.com/tjhickey724/covid19demo
    </a>
  </p>
  <p>
    The data comes from a the covidtracking project
    <a href="http://www.covidtracking.com">www.covidtracking.com</a>
    which collects data on testing and covid19 deaths from all states
    and many US territories.
  </p>
  <p>
    Our next step is to extend this to cover world data
    from all states using the timeseries data collected at
    <a href="https://github.com/pomber/covid19">
      https://github.com/pomber/covid19</a>
    Here is a direct link to the timeseries data:
    <a href="https://pomber.github.io/covid19/timeseries.json">
      https://pomber.github.io/covid19/timeseries.json
      </a>
  </p>
  </div>
  <p>
    These time series only change once a day so a better
    approach would be to just run a chron job to produce
    static files for each of the possible menu choices,
    but the load should be relatively light and the code
    is pretty efficient. I currently have the system only
    check every 5 minutes for new data.
    </p>
{% endblock %}
