
{% extends "bootstrapLayout.html" %}

{% block head %}
<title>Covid19 data for {{state}}</title>
<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<style>
canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
{% endblock %}

{% block content %}


	<div class="jumbotron">
    <h1> Latest Covid-19 in Graph Form<h1>
			<h2>
				<ul>
					<li style="margin:20px">
						<a class="btn btn-lg btn-danger" href="us">US States</a> from
						<a href="http://www.covidtracking.com">www.covidtracking.com</a>
				  </li>
					<li style="margin:20px">
						<a class="btn btn-lg btn-primary" href="world">Countries</a> from
						<a href="https://github.com/pomber/covid19">
				      https://github.com/pomber/covid19</a>
							which is in turn from
							<a href="https://github.com/CSSEGISandData/COVID-19">
							https://github.com/CSSEGISandData/COVID-19</a>
					</li>
				</ul>
			</h2>
	</div>
{% endblock %}
