
{% extends "bootstrapLayout.html" %}

{% block head %}
<title>Covid19 data for {{country}}</title>
<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<style>
canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
{% endblock %}

{% block content %}


	<div class="jumbotron">
    <h1>Latest Covid19 data for {{country}}</h2>
		<p> This data is from an API provided by
			<a href="https://github.com/pomber/covid19">
				https://github.com/pomber/covid19 </a>
				<br>
				More details at <a href="/about">this link</a>
			</p>
			<h2><a href="/">Back to main page</a></h2>
  </div>



	<div class="chart-container" style="position: relative; height:50vh">
    <canvas id="canvas"></canvas>
  </div>



	{% if yaxistype=='logarithmic' %}
		With a logarithmic plot, straight lines denote exponential growth!!<br>
		We want to see straight lines for testing, but flatter line for positive and death!
	{% endif %}

	<h2 style="margin-top:30px"> Pick another country to visualize </h2>
	<form method="post" action="/world">
		<br><br>
		What scale do you want for the y-axis:
		{% for t in ['linear','logarithmic'] %}
		<input type="radio"
					 name="yaxistype"
					 value="{{t}}"
					 {% if t==yaxistype %} checked {% endif %}
					 > {{t}} ||||
		{% endfor %}
		<br>
    Which country are you interested in?
		<br>
		<input
				class="btn btn-lg btn-danger"
				type="submit"
				value="Show latest covid19 data">
		<br>

			{% for s in countries %}
				<input type="radio" name="country" value={{s}} {% if s==country %} checked {% endif %}>
				{{s}} |||
			{% endfor %}


		<br>
		<hr>

  </form>
	<br><br><hr><br><br>
	<h1>Here is the data for {{country}} in tabular form</h1>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>date</td>
				<td>confirmed</td>
				<td>deaths</td>
				<td>recovered</td>
			</tr>
		</thead>
		<tbody>
		{% for d in data %}
			<tr>
				<td>{{d['date']}}</td>
				<td>{{d['confirmed']}}</td>
				<td>{{d['deaths']}}</td>
				<td>{{d['recovered']}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<br>
	<br>

	<script>
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: {{xs|safe}},
				datasets: [
				{
					label: 'confirmed',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: {{confirmed}},
					fill: false,
				},
				{
					label: 'deaths',
					fill: false,
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					data: {{deaths}},
				},
				{
					label: 'recovered',
					fill: false,
					backgroundColor: window.chartColors.purple,
					borderColor: window.chartColors.purple,
					data: {{recovered}},
				}
				]
			},
			options: {
				responsive: true,
				maintainAspectRatio:false,
				title: {
					display: true,
					text: '{{yaxistype}} plot of Latest Covid-19 data for {{state}}'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}],
					yAxes: [{
						display: true,
						type:'{{yaxistype}}',
						scaleLabel: {
							display: true,
							labelString: 'Value',



						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};



	</script>
{% endblock %}
